* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	height: 100%;
	font-size: 1em;
	font-family: Gotham Rounded;
}

button {
	border: none;
	outline: none;
}

#top {
	color: #888;
	padding-left: 30px;
	padding-top: 45px;
	height: 200px;
	background: url('../img/ovals.svg') no-repeat;
	background-size: auto 100%;
}

#name {
	font-size: 2em;
}


#center {
}

#buttons {
	padding: 50px 0px;
	width: 200px;
	position: relative;
	right: 200px;
}

.btn {
	color: #888;
	width: 400px;
	height: 50px;
	background-color: #EEE;
	font-size: 1em;
	font-family: Gotham Rounded;
	margin-bottom: 30px;
	text-align: right;
	padding-right: 40px;
	border-radius: 30px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}

.btn:active {
	background-color: #BBB;
}


footer {
	width: 100%;
	height:50vw;
	background: url('../img/dreamy_landscape.png') no-repeat;
	background-size: 100% auto;
	bottom: 0px;
}